<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>

		{{ form_start(form) }}
		{{ form_errors(form) }}

		{% for eachPwd in form.password %}
			{{ form_label(eachPwd) }}*
			{{ form_errors(eachPwd) }}
			{{ form_widget(eachPwd) }}
		{% endfor %}

		<input type="hidden" name="email" id="email" value="{{ email }}">

		<input type="submit" class="btn btn-primary d-block mx-auto mt-4" value="Réinitialiser" />

		{{ form_rest(form) }}

	</body>
</html>