<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% if post %}
			<title>{{ post.title }}</title>
		{% else %}
			<title>Annonce non trouvée</title>
		{% endif %}
	</head>
	<body>
		{% for message in app.flashes('success') %}
			<p>
				{{ message }}
			</p>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<p>
				{{ message }}
			</p>
		{% endfor %}

		{% if post %}

			<p>Titre : {{ post.title }}</p>
			<p>Citation : {{ post.subtitle }}</p>
			<p>Auteur : {{ post.author.username }}</p>
			<p>Date de publication : {{ post.postDate | date('d.m.Y') }}</p>

			{% if post.image %}
				<img src="{{ asset('uploads/img/') }}{{ post.image.id }}.{{ post.image.extension }}" alt="{{ post.image.alt }}" height="300" width="600">
			{% endif %}

			{% autoescape false %}
				{{ post.content }}
			{% endautoescape %}

			<br />
			<br />
			<hr />

			{{ form_start(comment_form) }}
			{{ form_errors(comment_form) }}

			<div>
				{{ form_label(comment_form.name) }}
				{{ form_errors(comment_form.name) }}
				{{ form_widget(comment_form.name) }}
			</div>
			<div>
				{{ form_label(comment_form.content) }}
				{{ form_errors(comment_form.content) }}
				{{ form_widget(comment_form.content) }}
			</div>

			{{ form_rest(comment_form) }}
			<input type="submit" value="Publier" />
			{{ form_end(comment_form) }}

			<br />
			<br />
			<hr />

			{% for comment in comment_list %}
				<div>
					{{ comment.name }}<br />
					{{ comment.content }}<br />
					Le {{ comment.commentDate | date('d.m.Y à H:i:s') }} <br />
					<a href="#" onclick="reportComment({{ comment.id }}, '{{ app.request.schemeAndHttpHost }}{{ path('greenenjoy_report') }}', '{{ csrf_token('authenticate') }}')">Signaler</a>
				</div>
				<br />
			{% endfor %}

		{% endif %}

		<script src="{{ asset('bundles/greenenjoycore/jquery/jquery-3.3.1.js') }}"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="{{ asset('bundles/greenenjoycore/js/actions.js') }}"></script>

	</body>
</html>
