<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Editer un article</title>
	</head>
	<body>

		{{ form_start(form) }}
		{{ form_errors(form) }}

		<div>
			{{ form_label(form.title) }}
			{{ form_errors(form.title) }}
			{{ form_widget(form.title) }}
		</div>
		<div>
			{{ form_label(form.subtitle) }}
			{{ form_errors(form.subtitle) }}
			{{ form_widget(form.subtitle) }}
		</div>
		<div>
			{{ form_label(form.content) }}
			{{ form_errors(form.content) }}
			{{ form_widget(form.content) }}
		</div>
		<div>
			{{ form_errors(form.image) }}
			{{ form_widget(form.image) }}
		</div>
		<div>
			{{ form_label(form.categorie) }}
			{{ form_errors(form.categorie) }}
			{{ form_widget(form.categorie) }}
		</div>

		{{ form_rest(form) }}

		<input type="submit" value="Publier" />
		{{ form_end(form) }}

		<script src = "{{ asset('bundles/greenenjoycore/jquery/jquery-3.3.1.js') }}"></script>
		<script src = "{{ asset('bundles/greenenjoycore/tinymce/js/tinymce/tinymce.min.js') }}"></script>
  		<script>
  			tinymce.init({
  				selector:'textarea#post_content',
  				auto_focus: 'post_content',
  				language: "fr_FR",
  				plugins: "image, link, anchor, lists, table, textcolor colorpicker, charmap, contextmenu, help, hr, nonbreaking, preview, print, searchreplace, wordcount, visualblocks", 
		    	toolbar: "undo redo | bold italic underline | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table anchor link image",
		    	contextmenu: "undo redo | bold italic underline | link image inserttable | cell row column deletetable",
		    	forced_root_block: false,
		    	force_br_newlines: true,
		    	force_p_newlines: false});
  		</script>

	</body>
</html>