{% extends 'GreenenjoyCoreBundle::back_layout.html.twig' %}

	{% block content %}

		<div class="col-lg-6">
			<div class="row mb-5">
				<div class="col-12">
					<h3 class="py-3 border-bottom">Signalements</h3>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Contenu</th>
								<th scope="col">Signalements</th>
								<th scope="col"><i class="fas fa-cog"></i></th>
							</tr>
						</thead>
						<tbody>
							{% if comments %}
								{% for comment in comments %}
								<tr>
									<th scope="row">{{ loop.index }}</th>
									<td>{{ comment.content }}</td>
									<td>{{ comment.reported }}</td>
									<td>
										 <a href="#" onclick="deleteComment({{ comment.id }}, '{{ app.request.schemeAndHttpHost }}{{ path('greenenjoy_delete_comment') }}', '{{ csrf_token('authenticate') }}')"><i class="fas fa-trash"></i> | </a>
										 <a href="#" onclick="authorizeComment({{ comment.id }}, '{{ app.request.schemeAndHttpHost }}{{ path('greenenjoy_authorize_comment') }}', '{{ csrf_token('authenticate') }}')"><i class="fas fa-check-circle"></i></a>
									</td>
								</tr>
								{% endfor %}
							{% else %}
								<tr>
									<th scope="row"></th>
									<td>Rien à afficher</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 mb-5 mb-md-4">
					<a href="{{ path('greenenjoy_dashboard') }}">
						<div class="card">
							<div class="card-body px-5">
								<p class="card-text initial"><i class="fas fa-arrow-circle-left pr-3"></i>Tableau de bord</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

	{% endblock %}